# Admin Access Password for Club Members
ADMIN_PASSWORD=clubSecretPass2026

# Gmail SMTP Credentials
GMAIL_SENDER_EMAIL=anwaremounire@gmail.com
GMAIL_APP_PASSWORD=kahp grgh jmhy ukue
SMTP__HOST=smtp.gmail.com
SMTP__PORT=587

# Supabase Server & Database Configuration
SUPABASE_URL=https://avmucmoioeukgtyclufi.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_DwVq77XcHLKhhXMiShF0mQ_JHJVUHBd
SUPABASE_SECRET_KEY=
SUPABASE_JWKS_URL=https://avmucmoioeukgtyclufi.supabase.co/auth/v1/.well-known/jwks.json
